* {
	padding: 0;
	margin: 0;
}
body {
	color: black;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: Playfair Display, sans-serif;
}
.menu {
	display: flex;
	
	justify-content: space-between;
	padding: 75px 0;	
	width: 570px;
	margin: 0 auto;
}
.menu li {
	list-style: none;
	margin-right: 25px;
}
.menu li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #696969;
}

.container1 {
	display: flex;
	width: 900px;
	margin: 0 auto;
	justify-content: space-between;
	margin-bottom: 100px;

}
.container2 {
	display: flex;
	width: 900px;
	margin: 0 auto;
	justify-content: space-between;
	margin-bottom: 100px;
}
.container3 {
	display: flex;
	width: 900px;
	margin: 0 auto;
	justify-content: space-between;
	margin-bottom: 100px;
}
.block1 {
	width: 420px;
}
.block2 {
	width: 420px;
}
.block3 {
	width: 420px;
	
}
.block1 img, h5, h3, p {
	padding: 10px 0;
}
main h5 {
	font-size: 14px;
	font-family: Ubuntu;
	color: #b4ad9e;
	text-transform: uppercase;
}
main h3 {
	font-style: 30px;
	color: #626262;	
}
main p {
	font-style: 14px;
	color: #626262;
}
.button {
	color: #696969;
	border: 1px solid black;
	margin: 20px auto;
	display: block;
	width: 160px;
	height: 60px;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	padding: 12px 0;
	box-sizing: border-box;
}


	
